<h1>KIM PONG</h1>

<form [formGroup]="formLogin" (ngSubmit)="onFormSubmit()" >
  <div>
    <input placeholder="Enter your email" [formControl]="email" required>
    <span *ngIf="email.invalid">{{getErrorMessage()}}</span>
  </div>
  <div>
    <input matInput type="password" [formControl]="password" placeholder="Enter your password" required>
    <span *ngIf="password.invalid">{{getErrorMessagePwd()}}</span>
  </div>
  <button [disabled]="email.invalid || password.invalid" type="submit">Login</button>
</form>

