<div >
  <label>Select your opponent: </label>
  <select class="form-control"  id="power"
    required
    [(ngModel)]="opponent" name="opponent">
    <option *ngFor="let u of users" [value]="u.id">{{u.firstname}} {{u.lastname}}</option>
  </select>
  <!-- SETS -->
  <button (click)="addSet()">Add Set</button>
  <button (click)="removeSet()">Remove Set</button>
  <div *ngFor="let s of sets; let i = index" [attr.data-index]="i">
    <strong>Set {{i}}</strong>
    <label>score 1 :</label>
    <input type="number" [(ngModel)]="s.score1">
    <label>score 2 : </label>
    <input type="number" [(ngModel)]="s.score2">
  </div>
</div>